# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.egg-info/
dist/
build/

# Environment
.env
*.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Node
node_modules/
.next/
out/

# Misc
*.log
uploads/
.vercel
